/* netflix.css */
.NetflixPage {
    background: linear-gradient(to right, black, rgb(62, 5, 5));
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}

.logo {
    padding: 20px;
    width: 100px;
    height: auto;
}

.SeriesContainer, .MoviesContainer {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    gap: 10px;
    padding: 20px;
}

.item {
    min-width: 300px;
    padding-bottom: 10px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

/* Create the border effect */
.item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid rgb(91, 0, 0); /* Border color */
    box-sizing: border-box;
    transform: scaleY(0); /* Initially hidden */
    transform-origin: top;
    transition: transform 0.6s ease-in-out;
}

/* Hover effect: Border expands from top to bottom */
.item:hover::before {
    transform: scaleY(1); /* Fully visible */
}
.thumbnail {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.type {
    margin-left: 30px;
    margin-bottom: 0px;
}

.superhit {
    background-color: rgb(216, 53, 53);
    border-radius: 20px;
    color: white;
    padding: 0px 10px;
    font-weight: bold;
    margin: 2px;
}

.average {
    background-color: rgb(226, 130, 130);
    border-radius: 20px;
    color: black;
    padding: 0px 8px;
    font-weight: bold;
    margin: 2px;
}
