.ProfileContainer {
  display: flex; /* Arrange items in a row */
  justify-content: space-around; /* Add space between cards */
  align-items: center; /* Align cards properly */
  gap: 20px; /* Add spacing between cards */
}
.ProfileCard {
  width: 300px;
  height: 600px;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(to right, #FFDFEF, #EABDE6);
  color: rgb(21, 19, 19);
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.profile-img {
  width: 100%;  /* Increase size */
  height: 60%; /* Increase size */
  object-fit: cover;  
  border-radius: 7px;
}