/* netflix.css */
.NetflixPage {
    background: linear-gradient(to right, black, rgb(62, 5, 5));
}
.logo {
    padding: 20px;
    width: 100px;  
    height: auto; 
}

.SeriesContainer {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    gap:10px;
    padding: 20px;
}
.MoviesContainer{
    display: flex;
    overflow-x:scroll ;
    scrollbar-width: none;
    gap:10px;
    padding:20px;
}
.item {
    min-width:300px;
    padding-bottom: 10px;
    border: 1px solid grey;
    border-radius: 8px;

}
.thumbnail {
    width:100%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.type{
    margin-left:30px;
    margin-bottom: 0px;

}